
{{ comments }}
{% if comment_form %}
    <div class="col-md-12 m-top3">
        <h3 class="m-bottom3 font-thin font25">{{'Post a Comment'|t}}</h3>
        <div class="cforms">
           {{ comment_form }}
        </div>
    </div>
{% endif %}
