{% if node.field_header_bg_image.0.entity.uri.value %}
      {% set header_image = file_url(node.field_header_bg_image.0.entity.uri.value) %}
{% else%}
      {% set header_image =''%}
{% endif %}
                   
{% if header_image !='' %}
     {% set style_bg_img = 'background-image: url('~header_image~')' %}
{% else %}  
     {% set style_bg_img = '' %}
{% endif %}
             
<div class="page-header" style="{{style_bg_img}}">
    <div class="container">
        <div class="col-md-6 left-padd0">
            <h3 class="font45 font-white uppercase">{{title}}</h3>
            {% if node.field_subtitle.0.value%}
                <h4 class="font18 font-white font-thin m-top1">{{ node.field_subtitle.0.value}}</h4>
            {% endif%}
        </div>
        {% if  page.breadcrumb %}
            <div class="col-md-6">
                <div class="breadcrumbs">{{ page.breadcrumb }}</div>
            </div>
        {% endif%}
    </div>
</div>    
