
{% if rows %}
    <div class="container">
        {{ header }}
        <div id="js-grid-lightbox-gallery-2" class="cbp">
            {% for row in rows %}
                {{ row }}
            {% endfor %}
        </div>
    </div>
{% endif %}
