{% if rows %}
    <div class="container">
        {{ header }}
        <div id="js-grid-awesome-work" class="cbp cbp-l-grid-work">
            {{ rows }}  
        </div>      
    </div>
{% endif %}
